/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  -webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Fade-in animation */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Modal content */
.modal_content {
  background-color: #e3e8efff;
  width: 90%;
  height: 90%;
  border-radius: 6px;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation: scale-up-center 0.4s ease both;
  animation: scale-up-center 0.4s ease both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Modal header */
.modal_header {
  background-color: white;
  color: #000000;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header_title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
}

.modal_close {
  cursor: pointer;
  font-size: 1.2rem;
}

.test_status {
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.passed {
  background-color: #28a745;
  color: white;
}

.failed {
  background-color: #dc3545;
  color: white;
}

.partial {
  background-color: #ffc107;
  color: white;
}

/* Modal body */
.modal_body {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

/* Sidebar */
.modal_sidebar {
  width: 25%;
  /* background-color: #f8f9fa; */
  /* border-right: 1px solid #ddd; */

  overflow-y: auto;
  padding: 0px 20px;
}

.modal_sidebar_item h4 {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.modal_sidebar_item h4:not(.selectedFlow):hover {
  background-color: #eef4fc;
  transition: all .1s ease-in-out; 
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05); 
  color: black;
}

.modal_sidebar_item ul {
  list-style: none;
  padding-left: 15px;
}

.modal_sidebar_item ul li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.modal_sidebar_item ul li:not(.selectedTest):hover {
  background-color: #eef4fc;
  transition: all .1s ease-in-out; 
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  color: black;
}

.selectedFlow {
  background-color: #4a90e2;
  color: white;
  transition: all .1s ease-in-out; 
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05); 
}

.selectedTest {
  background-color: #4a90e2;
  color: white;
  transition: all .1s ease-in-out; 
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05); 
  margin: 10px
}

/* Modal main */
.modal_main {
  width: 75%;
  padding: 0 20px;
  overflow-y: auto;
}

.modal_main ul {
  list-style: none;
  padding: 0;
}

.modal_main ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.testName{
  background-color: #f8f9fa;
  padding: 20px;
  color:#1f1f1f;
  /* color:#343434; */
  /* position: fixed; */
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}

.step {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.card {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 6px;
}

.status_icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.modal_footer {
  display: none;
}

.time{
  background-color: #4a90e2;
  font-size: 12px;
  padding: 5px;
  color: white;
  border-radius: 6px;
}
